:root {

  /* Light Colors  */

  --background: #FBF1C7; /* Background color */
  --accent: #d65d0e; /* Hover color */
  --cards: #f9f5d7; /* Cards color */

  /* Fonts Color */
  --fg: #3c3836; /* Foreground color */
  --sfg: #3c3836; /* Sceondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */
  
  --background: #32302F; /* Background color */
  --accent: #d65d0e; /* Hover color */
  --cards: #282828; /* Cards color */

  /* Fonts Color */
  --fg: #FBF1C7; /* Foreground color */
  --sfg: #FBF1C7; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}
