:root {

  /* Light Colors  */

  --background: #fbf1c7; /* Background color */
  --accent: #8ccf7e; /* Hover color */
  --cards: #dadada; /* Cards color */

  /* Fonts Color */
  --fg: #3c3836; /* Foreground color */
  --sfg: #3c3836; /* Sceondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */
  
  --background: #1a1b26; /* Background color */
  --accent: #7aa2f7; /* Hover color */
  --cards: #222330; /* Cards color */

  /* Fonts Color */
  --fg: #c0caf5; /* Foreground color */
  --sfg: #1a1b26; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}
