:root {
    /* Light Colors  */
  
    --background: #f8f8f2; /* Background color */
    --accent: #818179; /* Hover color */
    --cards: #cfcfc2; /* Cards color */
  
    /* Fonts Color */
    --fg: #292A2B; /* Foreground color */
    --sfg: #e6db74; /* Sceondary Foreground color */
  
    /* Image background  */
    --imgcol: linear-gradient(
      rgba(248, 248, 242, 0.7),
      rgba(248, 248, 242, 0.7)
    ); /* Filter color */
  }
  
  .darktheme {
    /* Dark Colors  */
  
    --background: #2d353b; /* Background color */
    --accent: #8ccf7e; /* Hover color */
    --cards: #374145; /* Cards color */
  
    /* Fonts Color */
    --fg: #d3c6aa; /* Foreground color */
    --sfg: #fd971f; /* Secondary Foreground color */
  
    /* Image background  */
    --imgcol: linear-gradient(
      rgba(39 40, 34, 0.85),
      rgba(39 40, 34, 0.85)
    ); /* Filter color */
  }
  
